<div class="col-md-6">
    <div class="panel panel-info">
        <div class="panel-heading">
            
            About<br />
            
        </div>
        <div class="panel-body">
    
                   <p><h3>BoG Night</h3> (<b>Bo</b>ard <b>G</b>ame <b>Night</b>) is a web service design to assist in the organisation and matchmaking of board game events. 
                   It supports regular events where members of the group bring their own games and is designed to make it easier to decide what to play first!</p>
                   
                   <p><span class="label label-info">Board Game Geek</span> The service can search the <a href="http://boardgamegeek.com">boardgamegeek.com</a> database 
                   for details about individual games. </p>
                   
                   <p><span class="label label-warning">Beta</span> It is currently in the Beta phase of development with many features to come, such as automated 
                   matchmaking based on individual user preferences and group game libraries so members can see what games might be available</p>
                   
                   <p><span class="label label-primary">Contact</span> This project is under development by <b>Jarryd van Zanten</b> as part of a Business Technology degree project.
                   Any comments and feedback are very greatly appreciated!</p>
                   <p></p><a target="_NEW" href="http://twitter.com/iisjreg" class="btn btn-default"> <span class="fui-twitter"></span> <b>@iisjreg</b></a></p>
    
        </div>
    </div>
</div>

<div class="col-md-6" ng-if="showlogin">
    <div class="panel panel-default">
       <div class="panel-heading">
        
        Login<br />
        
    </div>
    <div class="panel-body">

               <form action="/auth/login" method="post">
                  <div class="form-group">
                     <input type="text" name="username" placeholder="Username" class="form-control">
                  </div>
                  <div class="form-group">
                     <input type="password" name="password" placeholder="Password" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-success btn-fill">Log in</button> or <a href="/signup" class="btn btn-info">Sign up</a>
               </form>

    </div>
    </div>
</div>