<div class="col-md-6">
    <div class="panel panel-info">
        <div class="panel-heading">
            
            About<br />
            
        </div>
        <div class="panel-body">
    
                   Blurb about the project. This page acts as a holding page, rather than showing the login page straight away.
    
        </div>
    </div>
</div>

<div class="col-md-6" ng-if="showlogin">
    <div class="panel panel-default">
       <div class="panel-heading">
        
        Login<br />
        
    </div>
    <div class="panel-body">

               <form action="/auth/login" method="post">
                  <div class="form-group">
                     <input type="text" name="username" placeholder="Username" class="form-control">
                  </div>
                  <div class="form-group">
                     <input type="password" name="password" placeholder="Password" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-success btn-fill">Log in</button>
               </form>

    </div>
    </div>
</div>