<div class="panel panel-default">
    <div class="panel-heading">
        
        Account details<br /><small>Please add a name to be shown on events and games</small>
        
    </div>
    <div class="panel-body">
               <form name="accountForm" ng-submit="submitForm()">
                  <div class="form-group">
                     <input type="text" name="name" placeholder="Name" ng-model="user.name" class="form-control">
                  </div>
                  <div class="form-group">
                     <input type="text" name="snippet" placeholder="Interests" ng-model="user.snippet" class="form-control">
                  </div>
                  <div class="form-group">
                     <input type="password" name="newPassword1" ng-model="newpassword.first" placeholder="Change Password" class="form-control">
                  </div>
                  <div class="form-group">
                     <input type="password" name="newPassword2" ng-model="newpassword.second" placeholder="Confirm Password" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-success">Update account details</button>
               </form>

    </div>
</div>