<div class="panel panel-primary">
    <div class="panel-body">
        
        List of events<br />
        
    </div>
</div>

    <table ng-show="eventlist" class="table table-hover"> <!--change ng-show to look at user object -->
        <tr>
            <th>
                Name
            </t>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Description
            </th>
        </tr>
        <tr ng-repeat="event in eventlist">
            <td>
                {{event.value.name}}
            </td>
            <td>
                {{event.value.date}}
            </td>
            <td>
                {{event.value.time}}
            </td>
            <td>
                {{event.value.Description}}
            </td>
        </tr>
        
    </table>