<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                List of events</div>
            <div class="col-md-6 text-right">
                <a href="/repeating" role="button" ng-if="user.admin" role="button" class="btn btn-primary">View repeating events</a> 
                <input type="button" ng-if="!noGroups" ng-hide="showAddEvent" ng-click="addEvent()" role="button" class="btn btn-success" value="Add event">
                <a role="button" ng-show="showAddEvent" ng-click="showAddEvent = false" role="button" class="btn btn-default">Close</a>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-show="showAddEvent">
        <form name="addEventForm" ng-submit="submitForm()">
            <div class="form-group">
                <div class="row">
                      <div class="col-md-6">
                          <input type="text" name="name" placeholder="Event Name" ng-model="event.name" class="form-control">
                      </div>
                      <div class="col-md-6">
                        <input type="text" name="venue" placeholder="Venue" ng-model="event.venue" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                      <div class="col-md-12">
                          <input type="text" name="description" placeholder="Event Description" ng-model="event.description" class="form-control">
                      </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                      <div class="col-md-6">
                          <input type="date" name="date" placeholder="Event Date" ng-model="event.date" class="form-control">
                      </div>
                      <div class="col-md-6">
                        <input type="time" name="time" placeholder="Event Time" ng-model="event.time" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                      <div class="col-md-4">
                          <input type="hidden" name="group" placeholder="Group" ng-model="event.organisation" class="form-control" value="NOBOG">
                          <a ng-hide="event.showRepeating" class="btn btn-info" ng-click="event.showRepeating = true;">Repeating</a>
                          <select ng-show="event.showRepeating" name="repeat" ng-model="event.repeat" class="form-control">
                              <option value="daily">Repeat Daily</option>
                              <option value="weekly">Repeat Weekly</option>
                              <option value="monthly">Repeat Monthly</option>
                          </select>
                      </div>
                      <div class="col-md-2 text-right">
                        <a role="button" ng-show="event.showRepeating" class="btn btn-default" ng-click="event.showRepeating = false;">One-off</a>
                    </div>
                      <div class="col-md-6 text-right">
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    <div ng-show="eventlist">
        <h4>Upcoming events</h4>
    <table class="table table-hover"> <!--change ng-show to also look at user object -->
        <thead>
        <tr>
            <th class="col-sm-2">
                Name
            </th>
            <th class="col-sm-2">
                Group
            </th>
            <th class="col-sm-2">
                Date
            </th>
            <th class="col-sm-1">
                Time
            </th>
            <th class="col-sm-2">
                Location
            </th>
            <th class="col-sm-3">
                Description
            </th>
        </tr>
        </thead>
        <tr ng-repeat="ev in eventlist" style="cursor: pointer;">
            <td ng-click="go(ev.path.key)">
                {{ev.value.name}}
            </td>
            <td ng-click="go(ev.path.key)">
                {{ev.value.group}}
            </td>
            <td ng-click="go(ev.path.key)">
                {{ev.value.date | dateFilter:"Do MMM YYYY"}}
            </td>
            <td ng-click="go(ev.path.key)">
                {{ev.value.time | dateFilter:"HH:mm"}}
            </td>
            <td ng-click="go(ev.path.key)">
                {{ev.value.venue}}
            </td>
            <td ng-click="go(ev.path.key)">
                <div class="label label-xs label-info" ng-if="ev.value.showRepeating"><small>{{ev.value.repeat}}</small></div> {{ev.value.description}}
            </td>
        </tr>
        
    </table>
    </div>
    
    <div ng-show="eventlist2">
        <h4>Past Events</h4>
    <table class="table table-hover"> <!--change ng-show to also look at user object -->
        <thead>
        <tr>
            <th class="col-sm-2">
                Name
            </th>
            <th class="col-sm-2">
                Group
            </th>
            <th class="col-sm-2">
                Date
            </th>
            <th class="col-sm-1">
                Time
            </th>
            <th class="col-sm-2">
                Location
            </th>
            <th class="col-sm-3">
                Description
            </th>
        </tr>
        </thead>
        <tr ng-repeat="ev in eventlist2" style="cursor: pointer;">
            <td ng-click="go(ev.path.key)">
                {{ev.value.name}}
            </td>
            <td ng-click="go(ev.path.key)">
                {{ev.value.group}}
            </td>
            <td ng-click="go(ev.path.key)">
                {{ev.value.date | dateFilter:"Do MMM YYYY"}}
            </td>
            <td ng-click="go(ev.path.key)">
                {{ev.value.time | dateFilter:"HH:mm"}}
            </td>
            <td ng-click="go(ev.path.key)">
                {{ev.value.venue}}
            </td>
            <td ng-click="go(ev.path.key)">
                <div class="label label-xs label-info" ng-if="ev.value.showRepeating"><small>{{ev.value.repeat}}</small></div> {{ev.value.description}}
            </td>
        </tr>

    </table>
    
</div>
    <div ng-hide="eventlist || eventlist2 || noEvents || noGroups">
        <h4>Getting events...</h4>
    </div>
    <div ng-show="noEvents">
        <h4>No events. Add one above.</h4>
    </div>
    <div ng-show="noGroups">
        <h4>Welcome! Join a local group on the Groups page to find events.</h4>
    </div>