<div class="panel panel-primary">
    
    <!-- EVENT SUMMARY -->
    
    <div class="panel-body">
        <div class="media">
            <div class="media-body">
                Event Detail<br />
                <small ng-show="eventDetail.name">
                    Name: {{eventDetail.name}} ({{eventDetail.description}})<br/>
                    Date: {{eventDetail.date | dateFilter:"Do MMM YYYY"}}, Time: {{eventDetail.time | dateFilter:"HH:mm"}}
                </small>    
            </div>
            <div class="media-right">
                <button type="button" ng-hide="showAddMatch" ng-click="addMatch()" role="button" class="btn btn-success media-object">Add Match</button>
                <button ng-show="showAddMatch" ng-click="showAddMatch = false" role="button" class="btn btn-default media-object"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
        </div>
    </div>
    
    <!-- ADD MATCH FORM -->
    
    <div class="panel-footer" ng-show="showAddMatch">
        <form name="addMatchForm" ng-submit="submitForm()">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <input type="text" name="name" placeholder="Game (search BoardGameGeek)" ng-model="match.game" class="form-control" ng-blur="checkGame()">
                            <span class="input-group-addon" ng-click="checkGame()">
                            <i ng-hide="checkingGame || match.id || notFound" class="glyphicon glyphicon-search" style="cursor: pointer;"></i>
                            <i ng-if="checkingGame" class="glyphicon glyphicon-hourglass"></i>
                            <i ng-if="match.id" ng-hide="checkingGame" class="glyphicon glyphicon-ok"></i>
                            <i ng-if="notFound" ng-hide="checkingGame" class="glyphicon glyphicon-remove"></i></span>
                        </div>
                        <input type="hidden" name="BGGid" ng-model="match.id">
                    </div>
                </div><br />
                <div class="row" ng-show="BGGresults && BGGresults.length > 0" ng-hide="notFound || checkingGame">    
                    <div class="col-lg-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                Suggestions:
                            </li>
                            <li class="list-group-item" style="cursor: pointer;" ng-repeat="res in BGGresults" ng-click="select(res.id,res.name.value,res.type)">
                                <b>{{res.name.value}}</b> ({{res.yearpublished.value}}) <small><i ng-if="res.type != 'boardgame'">({{res.type}})</i></small>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" ng-show="gettingGameDetail || checkingGame || notFound">   
                    <div class="col-md-12">
                        <div class="alert alert-info" ng-show="gettingGameDetail">
                            Getting game details!
                        </div>
                        <div class="alert alert-info" ng-show="checkingGame">
                            Searching for game...
                        </div>
                        <div class="alert alert-warning" ng-show="notFound" ng-hide="checkingGame || gettingGameDetail">
                            Game not found. You can enter a description and number of players, below.
                        </div>
                    </div><br />
                </div>
                <div class="row" ng-show="notFound">    <!-- GAME NOT FOUND< ALLOW FOR MANUAL ENTRY -->
                    <div class="col-md-10">
                        <input type="text" name="description" placeholder="Description" ng-model="match.description" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <input type="text" name="numPlayers" placeholder="# Players" ng-model="match.numPlayers" class="form-control">
                    </div>
                </div>
                <div class="row" ng-if="showGameDetail">    
                    <div class="col-md-2">
                        <img ng-src="{{gameDetail.thumbnail}}">
                    </div>
                    <div class="col-md-10">
                        <!-- <h4 class="media-heading" ng-repeat="name in gameDetail.name"><span ng-if="name.type == 'primary'"><b>{{name.value}}</b> ({{gameDetail.yearpublished.value}})</span></h4> -->
                        <h4 class="media-heading"><span><b>{{gameDetail.name.value}}</b> ({{gameDetail.yearpublished.value}})</span></h4>
                        <small><i class="glyphicon glyphicon-user"></i> {{gameDetail.minplayers.value}}-{{gameDetail.maxplayers.value}} </small>
                        <span class="label label-info" ng-repeat="link in gameDetail.link"><i ng-if="link.type == 'boardgamecategory'">{{link.value}}</i></span><br /><br />
                        <div ng-hide="expand"><p ng-bind-html="gameDetail.description_short"></p> <a class="btn btn-xs btn-default" ng-click="expand = true;">More</a> </div>
                        <div ng-show="expand"><p ng-bind-html="gameDetail.description"></p>  <a class="btn btn-xs btn-default" ng-click="expand = false;">Less</a></div>
                        <p><small><i><a ng-href="http://boardgamegeek.com/{{match.type}}/{{match.id}}" target="_NEW">View this game on BoardGameGeek</a></i></small></p>
                    </div>
                </div>
            </div>
            <div class="media">
                <div class="media-body">
                    <input type="hidden" name="organisation" placeholder="Group" ng-model="event.organisation" class="form-control">    
                </div>
                <div class="media-right"><button type="submit" class="btn btn-success">Add</button></div>
            </div>
        </form>
    </div>
</div>

<!-- LIST OF MATCHES -->

    <table ng-show="matchlist" class="table table-hover"> <!--change ng-show to look at user object? -->
        <thead>
        <tr>
            <th>
                Game
            </th>
            <th class="col-sm-5">
                Catagories
            </th>
            <th>
                # players
            </th>
            <th>
                Interested Players
            </th>
            <th>&nbsp;
            </th>
        </tr>
        </thead>
        <tr ng-repeat="mch in matchlist" style="cursor: pointer;">
            <td ng-click="go(mch.path.key)">
                <p>{{mch.value.game}}</p>
            </td>
            <td ng-click="go(mch.path.key)">
                <span ng-repeat="cat in mch.value.catagories">{{cat.value}}&nbsp; </span>
            </td>
            <td ng-click="go(mch.path.key)">
                {{mch.value.numPlayers}}
            </td>
            <td ng-click="go(mch.path.key)">
                <small>{{mch.value.players}}</small>
            </td>
            <td style="text-align: right">
                <a ng-if="user.admin" ng-click="delete(mch.path.key)" role="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
        
    </table>