<!-- Twitter -->
   <update-meta name="twitter:card" content="summary"></update-meta>
   <update-meta name="twitter:site" content="@BoG_Night"></update-meta>
   <update-meta name="twitter:title" content='Join event: {{eventDetail.name}} - {{eventDetail.date | dateFilter:"Do MMM YYYY"}} @ {{eventDetail.time | dateFilter:"HH:mm"}}'></update-meta>
   <update-meta name="twitter:description" content='Board Game Night - Supporting event management for board game groups'></update-meta>
   <update-meta name="twitter:image" content=""> </update-meta>
<!-- Facebook -->
   <update-meta property="og:url"                content="{{currentUrl}}"></update-meta>
   <update-meta property="og:type"               content="website"></update-meta>
   <update-meta property="og:title"              content='Join event: {{eventDetail.name}} - {{eventDetail.date | dateFilter:"Do MMM YYYY"}} {{eventDetail.time | dateFilter:"HH:mm"}}'></update-meta>
   <update-meta property="og:description"        content='Board Game Night - Supporting event management for board game groups'></update-meta>
   <update-meta property="og:image"              content=""></update-meta>
   
   <update-title title="BoG Night - Event: {{eventDetail.name}}"></update-title>
   
<div class="panel panel-default">
    <div class="panel-body">
        <div ng-show="eventDetail.name">
            <div class="col-xs-6">
                <b>{{eventDetail.name}}</b><br>
                {{eventDetail.description}}<br>
                <div class="label label-xs label-info" ng-if="eventDetail.showRepeating"><small>{{eventDetail.repeat}}</small></div><br>
                  
            </div>
            <div class="col-xs-6 text-right">
                {{eventDetail.group}} <span class="fui-user"></span><br>
                {{eventDetail.date | dateFilter:"Do MMM YYYY"}} <span class="fui-calendar"></span><br>
                {{eventDetail.time | dateFilter:"HH:mm"}} <span class="fui-time"></span><br>
            </div> 
            <div class="col-xs-12 text-right">
                <div style="cursor: pointer;" ng-click="toggleQR()" ng-hide="QR">QR <span class="glyphicon glyphicon-qrcode"></span></div>
                <div style="cursor: pointer;" ng-click="toggleQR()" ng-show="QR">QR <span class="glyphicon glyphicon-remove"></span><br>
                    <qrcode version="4" error-correction-level="M" size="200" data="{{currentUrl}}" href="{{currentUrl}}"></qrcode>
                </div>

            </div>
        </div>
    </div>
    
    <div class="panel-footer" ng-if="user">
        <div class="row">
            <div class="col-md-8">
                
            </div>
            <div class="col-md-2 text-right">
                <button ng-if="user.admin" type="button" ng-click="deleteEvent()" role="button" class="btn btn-danger btn-block">Delete</button>
            </div>
            <div class="col-md-2 text-right">
                <button type="button" ng-hide="showAddMatch" ng-click="addMatch()" role="button" class="btn btn-success btn-block">Add Match</button>
                <button ng-show="showAddMatch" ng-click="showAddMatch = false" role="button" class="btn btn-default btn-block" style="margin-top: 0px;">Close</button>
            </div>
        </div>
    </div>
    
    <!-- ADD MATCH FORM -->
    
    <div class="panel-footer" ng-show="showAddMatch">
        <form name="addMatchForm" ng-submit="submitForm()">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" name="name" placeholder="Game Name (search BoardGameGeek.com)" ng-model="match.game" class="form-control" ng-blur="checkGame()">
                            <span class="input-group-addon" ng-click="checkGame()">
                                <i ng-hide="checkingGame || match.id || notFound" class="fui-search" style="cursor: pointer;"></i>
                                <i ng-hide="checkingGame || match.id || notFound" style="cursor: pointer;">&nbsp;&nbsp;Search</i>
                                <i ng-if="checkingGame" class="fui-time"></i>
                                <i ng-if="checkingGame">&nbsp;&nbsp;Checking</i>
                                <i ng-if="match.id" ng-hide="checkingGame" class="fui-check"></i>
                                <i ng-if="match.id" ng-hide="checkingGame">&nbsp;&nbsp;Found</i>
                                <i ng-if="notFound" ng-hide="checkingGame" class="fui-cross"></i>
                                <i ng-if="notFound" ng-hide="checkingGame">&nbsp;&nbsp;Not found</i>
                            </span>
                        </div>
                        <input type="hidden" name="BGGid" ng-model="match.id">
                    </div>
                </div><br />
                <div class="row" ng-show="BGGresults && BGGresults.length > 0" ng-hide="notFound || checkingGame">    
                    <div class="col-md-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                Suggestions:
                            </li>
                            <li class="list-group-item" style="cursor: pointer;" ng-repeat="res in BGGresults" ng-click="select(res.id,res.name.value,res.type)">
                                <b>{{res.name.value}}</b> ({{res.yearpublished.value}}) <small><i ng-if="res.type != 'boardgame'">({{res.type}})</i></small>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row" ng-show="gettingGameDetail || checkingGame || notFound">   
                    <div class="col-md-12">
                        <div class="alert alert-info" ng-show="gettingGameDetail">
                            Getting game details!
                        </div>
                        <div class="alert alert-info" ng-show="checkingGame">
                            Searching for game...
                        </div>
                        <div class="alert alert-warning" ng-show="notFound" ng-hide="checkingGame || gettingGameDetail">
                            Game not found. You can enter a description and number of players, below.
                        </div>
                    </div><br />
                </div>
                <div class="row" ng-show="notFound">    <!-- GAME NOT FOUND< ALLOW FOR MANUAL ENTRY -->
                    <div class="col-md-10">
                        <input type="text" name="description" placeholder="Description" ng-model="match.description" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <input type="text" name="numPlayers" placeholder="# Players" ng-model="match.numPlayers" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" ng-if="showGameDetail">    
                            <div class="col-md-2">
                                <img class="img-responsive img-rounded" ng-src="{{gameDetail.thumbnail}}">
                                <p style="text-size: 13px; padding-bottom: 5px;"><span class="fui-user"></span> {{gameDetail.minplayers.value}}-{{gameDetail.maxplayers.value}} <br>
                                <small><span class="" ng-repeat="link in gameDetail.link"><i ng-if="link.type == 'boardgamecategory'"><span class="fui-tag"></span> {{link.value}}<br></i></span></small></p>
                            </div>
                            <div class="col-md-10">
                                <h4 class="media-heading"><span><b>{{gameDetail.name.value}}</b> ({{gameDetail.yearpublished.value}})</span></h4>
                                
                                <div ng-hide="expand"><p ng-bind-html="gameDetail.description_short"></p><p><a class="btn btn-xs btn-default" ng-click="expand = true;">More</a></p></div>
                                <div ng-show="expand"><p ng-bind-html="gameDetail.description"></p><p><a class="btn btn-xs btn-default" ng-click="expand = false;">Less</a></p></div>
                                <p><small><i><a ng-href="http://boardgamegeek.com/{{match.type}}/{{match.id}}" target="_NEW">View this game on BoardGameGeek</a></i></small></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group has-feedback">
                            <input type="text" name="notes" placeholder="Notes about the game" ng-model="match.notes" class="form-control">
                            <span class="form-control-feedback fui-new"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-10 text-right">
                    <button type="submit" class="btn btn-success btn-block">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- LIST OF MATCHES -->
<h4>List of Games</h4>
    <table ng-show="matchlist" class="table table-hover table-responsive" wt-responsive-table at-table at-paginated at-list="matchlist" at-config="config"> <!--change ng-show to look at user object? -->
        <thead>
        </thead>
        <tr style="cursor: pointer;">
            <td at-attribute="game" at-title="Game" ng-click="go(item.path.key)">
                <b>{{item.value.game}}</b>
            </td>
            <td at-attribute="notes" at-title="Notes" ng-click="go(item.path.key)">
                <i>{{item.value.notes}}</i>
            </td>
            <td class="col-sm-4" at-attribute="categories" at-title="Categories" ng-click="go(item.path.key)">
                <span ng-repeat="cat in item.value.catagories">{{cat.value}}&nbsp; </span>
            </td>
            <td at-attribute="numPlayers" at-title="# players" ng-click="go(item.path.key)">
                {{item.value.numPlayers}}
            </td>
            <td at-attribute="players" at-title="Interested Players" ng-click="go(item.path.key)">
                <small>{{item.value.players}}</small>
            </td>
        </tr>
        
    </table>
    <div class="pull-right" ng-if="matchlist.length > config.itemsPerPage">
    <nav aria-label="Result Page navigation"><at-pagination at-list="matchlist" at-config="config"></at-pagination></nav>
    </div>