<div class="panel panel-primary">
    <div class="panel-body">
        <div class="media">
            <div class="media-body">
                List of events</div>
            <div class="media-right">
                <input type="button" ng-hide="showAddEvent" ng-click="addEvent()" role="button" class="btn btn-success media-object" value="Add event">
                <input type="button" ng-show="showAddEvent" ng-click="showAddEvent = false" role="button" class="btn btn-success media-object" value="Close form">
            </div>
        </div>
    </div>
    <div class="panel-footer" ng-show="showAddEvent">
        <form name="addEventForm" ng-submit="submitForm()">
            <div class="form-group">
                <div class="row">
                      <div class="col-lg-6">
                          <input type="text" name="name" placeholder="Event Name" ng-model="event.name" class="form-control">
                      </div>
                      <div class="col-lg-6">
                        <input type="text" name="venue" placeholder="Venue" ng-model="event.venue" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                      <div class="col-lg-12">
                          <input type="text" name="description" placeholder="Event Description" ng-model="event.description" class="form-control">
                      </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                      <div class="col-lg-6">
                          <input type="date" name="date" placeholder="Event Date" ng-model="event.date" class="form-control">
                      </div>
                      <div class="col-lg-6">
                        <input type="time" name="time" placeholder="Event Time" ng-model="event.time" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="hidden" name="organisation" placeholder="Group" ng-model="event.organisation" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Add</button>
        </form>
    </div>
</div>

    <table ng-show="eventlist" class="table table-hover"> <!--change ng-show to also look at user object -->
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Description
            </th>
            <th>
                
            </th>
        </tr>
        </thead>
        <tr ng-repeat="ev in eventlist" style="cursor: pointer;">
            <td ng-click="go(ev.path.key)">
                {{ev.value.name}}
            </td>
            <td ng-click="go(ev.path.key)">
                {{ev.value.date | dateFilter:"Do MMM YYYY"}}
            </td>
            <td ng-click="go(ev.path.key)">
                {{ev.value.time | dateFilter:"HH:mm"}}
            </td>
            <td ng-click="go(ev.path.key)">
                {{ev.value.description}}
            </td>
            <td>
                <a ng-if="user.admin" ng-click="delete(ev.path.key)" role="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
        
    </table>