<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
            </div>
            <div class="col-md-2">
                <input type="button" ng-hide="showAddGroup" ng-click="addGroup()" role="button" class="btn btn-default btn-block" value="New Group">
                <a role="button" ng-show="showAddGroup" ng-click="showAddGroup = false" role="button" class="btn btn-default btn-block" style="margin-top: 0px;">Close</a>
            </div>
        </div>
    </div>
    <div class="panel-footer" ng-show="showAddGroup">
        <form name="addGroupForm" ng-submit="submitForm()">
            <div class="form-group">
                <div class="row">
                      <div class="col-md-6">
                          <input type="text" name="name" placeholder="Group Name" ng-model="group.name" class="form-control">
                      </div>
                      <div class="col-md-6">
                        <input type="text" name="location" placeholder="Location" ng-model="group.location" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                      <div class="col-md-12">
                          <input type="text" name="description" placeholder="Description" ng-model="group.description" class="form-control">
                      </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                      <div class="col-md-6">
                          <div class="form-group has-feedback">
                              <span class="form-control-feedback fui-window"></span>
                              <input type="text" name="website" placeholder="Website" ng-model="group.website" class="form-control">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group has-feedback">
                              <span class="form-control-feedback fui-twitter"></span>
                              <input type="text" name="twitter" placeholder="Twitter" ng-model="group.twitter" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-10">
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success btn-block">Create</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    <div ng-show="grouplist">
        <h4>Groups</h4>
        <h5>Join a local group to find upcoming events.</h5>
    <table class="table table-hover table-responsive" wt-responsive-table> <!--change ng-show to also look at user object -->
        <thead>
        <tr>
            <th class="col-sm-2">
                Name
            </th>
            <th class="col-sm-2">
                Location
            </th>
            <th class="col-sm-4">
                Description
            </th>
            <th class="col-sm-3">
                Website
            </th>
            <th class="col-sm-1">
                
            </th>
        </tr>
        </thead>
        <tr ng-repeat="gr in grouplist">
            <td>
                {{gr.value.name}}
            </td>
            <td>
                {{gr.value.location}}
            </td>
            <td>
                {{gr.value.description}}
            </td>
            <td>
                <a ng-if="gr.value.website" tooltip="{{gr.value.website}}" class="btn btn-sm btn-default" ng-href="{{gr.value.website}}" target="_NEW">Visit website</a>
            </td>
            <td class="text-right">
                <a ng-show="!gr.value.inGroup" ng-click="joinGroup(gr.path.key)" role="button" class="btn btn-success btn-sm">join</a>
                <a ng-show="gr.value.inGroup" ng-click="leaveGroup(gr.path.key)" role="button" class="btn btn-danger btn-sm">leave</a>
            </td>
        </tr>
        
    </table>
    </div>
    
    <div ng-hide="grouplist">
        <h4>Getting groups...</h4>
    </div>
    <div ng-show="noGroups">
        <h4>No groups. Create one above.</h4>
    </div>