<div class="panel panel-info">
    <div class="panel-header">
        
        Login<br />
        
    </div>
    <div class="panel-body">

               <form action="/auth/login" method="post">
                  <div class="form-group">
                     <input type="text" name="username" placeholder="Username" class="form-control">
                  </div>
                  <div class="form-group">
                     <input type="password" name="password" placeholder="Password" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-success">Log in</button>
               </form>

    </div>
</div>