MAIN!!!<br />
<a href="/events">TEST LINK TO EVENTS</a><br />
<br />
        <a href="/api">check API</a><br />
        <a target="_new" href="/api/bgg/user/iisjreg">BGG API test</a><br />
        <br />
        <a target="_new" href="/tests/usertest/signup.html">signup</a><br />
        <a target="_new" href="/tests/usertest/login.html">login</a><br />
        <a target="_new" href="/auth">check auth</a><br />
        <a target="_new" href="/auth/profile">profile</a><br />
        <a target="_new" href="/auth/logout">log out</a><br />
        <br />
        <a target="_new" href="/api/events">List events</a><br />
        <a target="_new" href="/tests/eventtest/add.html">add event</a><br />