<div class="panel panel-primary">
    <div class="panel-body">
        
        Main<br />
        
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item"><a href="/events">EVENTS</a></li>
    <li class="list-group-item"><a href="/account">ACCOUNT</a></li>
</ul>

<ul class="list-group">
    <li class="list-group-item">API TEST LINKS</li>
    <li class="list-group-item"><a target="_new" href="/api">check API</a></li>
    <li class="list-group-item"><a target="_new" href="/api/bgg/user/iisjreg">BGG API test</a></li>
    <li class="list-group-item"></li>
    <li class="list-group-item"><a target="_new" href="/tests/usertest/signup.html">signup</a></li>
    <li class="list-group-item"><a target="_new" href="/tests/usertest/login.html">login</a></li>
    <li class="list-group-item"><a target="_new" href="/auth">check auth</a></li>
    <li class="list-group-item"><a target="_new" href="/auth/profile">profile</a></li>
    <li class="list-group-item"><a target="_new" href="/auth/logout">log out</a></li>
    <li class="list-group-item"></li>
    <li class="list-group-item"><a target="_new" href="/api/events">List events</a></li>
    <li class="list-group-item"><a target="_new" href="/tests/eventtest/add.html">add event</a></li>
</ul>