<div class="panel panel-primary">
    
    <!-- MATCH SUMMARY -->
    
    <div class="panel-body">
        <div class="row">    
            <div class="col-lg-12">
                <ul class="list-group">
                    <li class="list-group-item" ng-show="!gameDetail">
                        <div class="alert alert-info">
                            Getting game details!
                        </div>
                    </li>
                    <li class="list-group-item" ng-if="gameDetail">
                        <div class="media">
                            <div class="media-left">
                                    <img class="media-object" ng-src="{{gameDetail.thumbnail}}">
                            </div>
                            <div class="media-body">
                                <!-- <h4 class="media-heading" ng-repeat="name in gameDetail.name"><span ng-if="name.type == 'primary'"><b>{{name.value}}</b> ({{gameDetail.yearpublished.value}})</span></h4> -->
                                <h4 class="media-heading"><span><b>{{gameDetail.name.value}}</b> ({{gameDetail.yearpublished.value}})</span></h4>
                                <p><small><i class="glyphicon glyphicon-user"></i> {{gameDetail.minplayers.value}}-{{gameDetail.maxplayers.value}} </small>
                                <span class="label label-info" ng-repeat="link in gameDetail.link"><i ng-if="link.type == 'boardgamecategory'">{{link.value}}</i></span></p>
                                <p>Playing time: {{gameDetail.playingtime.value}} minutes</p>
                                <p ng-bind-html="gameDetail.description"></p>
                                <p><small><i><a ng-href="http://boardgamegeek.com/{{match.type}}/{{match.id}}" target="_NEW">View this game on BoardGameGeek</a></i></small></p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- ADD MATCH FORM -->
    
    <div class="panel-footer">
        <input type="button" ng-click="joinMatch()" role="button" class="btn btn-default btn-sm" value="Join">
    </div>
</div>

<!-- LIST OF PLAYERS -->

    <table ng-if="playerList" class="table table-hover">
        <thead>
        <tr>
            <th>
                Interested Players
            </th>
            <th>    
            </th>
        </tr>
        </thead>
        <tr ng-repeat="ply in playerList" style="cursor: pointer;">
            <td>
                <p>{{ply.value.name}}</p>
            </td>
            <td>
                <a ng-if="user.admin" ng-click="delete(ply)" role="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
        
    </table>