<!-- Twitter -->
   <update-meta name="twitter:card" content="summary"></update-meta>
   <update-meta name="twitter:site" content="@BoG_Night"></update-meta>
   <update-meta name="twitter:title" content='Playing: {{match.game}} ({{match.yearpublished}})'></update-meta>
   <update-meta name="twitter:description" content='Board Game Night - {{match.event.group}} {{match.event.name}} @ {{match.event.venue}} - {{match.event.date | dateFilter:"Do MMM YYYY"}}'></update-meta>
   <update-meta name="twitter:image" content="{{match.thumbnail}}"> </update-meta>
<!-- Facebook -->
   <update-meta property="og:url"                content="{{currentUrl}}"></update-meta>
   <update-meta property="og:type"               content="website"></update-meta>
   <update-meta property="og:title"              content='Playing: {{match.game}} ({{match.yearpublished}})'></update-meta>
   <update-meta property="og:description"        content='Board Game Night - {{match.event.group}} {{match.event.name}} @ {{match.event.venue}} - {{match.event.date | dateFilter:"Do MMM YYYY"}}'></update-meta>
   <update-meta property="og:image"              content="{{match.thumbnail}}"></update-meta>
   
   <update-title title="BoG Night - Game: {{match.game}}"></update-title>


<div class="panel panel-default">
    
    <!-- MATCH SUMMARY -->
    
    <div class="panel-body">
        <div class="row">    
            <div class="col-md-12">
                <div class="row" ng-if="match">    
                    <div class="col-md-2">
                        <img class="img-responsive img-rounded" style="margin-bottom: 10px;" ng-src="{{match.thumbnail}}">
                        <p style="text-size: 13px"><span class="fui-user"></span> {{match.numPlayers}}<br>
                        <small><span class="" ng-repeat="link in match.catagories"><i ng-if="link.type == 'boardgamecategory'"><span class="fui-tag"></span> {{link.value}}<br></i> </span></small></p>
                    </div>
                    <div class="col-md-10">
                        <!-- <h4 class="media-heading" ng-repeat="name in gameDetail.name"><span ng-if="name.type == 'primary'"><b>{{name.value}}</b> ({{gameDetail.yearpublished.value}})</span></h4> -->
                        <h5 class="media-heading"><span><b>{{match.game}}</b> ({{match.yearpublished}})</span> <br>
                        <small><span class="text-success" style="text-size: 13px" ng-if="match.proposedBy.name">Proposed by {{match.proposedBy.name}}</span></small><br>
                        <small><span class="text-primary"> {{match.event.date | dateFilter:"Do MMM YYYY"}}, {{match.event.time | dateFilter:"HH:mm"}} ({{match.event.name}} @ {{match.event.venue}})</span></small>
                        </h5>
                        
                        <p ng-if="match.notes"><b>Match Notes:</b> <i>{{match.notes}}</i></p><br>
                        <div ng-hide="expand"><p ng-bind-html="match.description_short"></p><p><a class="btn btn-xs btn-default" ng-click="expand = true;">More</a></p> </div>
                        <div ng-show="expand"><p ng-bind-html="match.description"></p><p><a class="btn btn-xs btn-default" ng-click="expand = false;">Less</a></p></div>
                        <p><small><i><a ng-href="http://boardgamegeek.com/{{match.type}}/{{match.id}}" target="_NEW">View this game on BoardGameGeek</a></i></small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-2">
                <a ng-if="user.admin" role="button" ng-click="deleteMatch()" role="button" class="btn btn-danger btn-block">Delete</a>
            </div>
            <div class="col-md-2">
                <a role="button" ng-href="/events/{{eventKey}}" role="button" class="btn btn-default btn-block">Go to event</a>
            </div>
            <div class="col-md-2" ng-if="user">
                <input ng-show="!inMatch" type="button" ng-click="joinMatch()" role="button" class="btn btn-success btn-block" value="Join Match">
                <input ng-show="inMatch" type="button" ng-click="leaveMatch()" role="button" class="btn btn-danger btn-block" value="Leave Match" style="margin-top: 0px;">
            </div>
            <div class="col-md-2" ng-if="!user">
                <a href="/signup" role="button" class="btn btn-success btn-block">Sign up to join</a>
            </div>
        </div>
    </div>
    <div class="panel-footer" ng-show="inMatch">
        <div class="row">
            <div class="col-sm-8">

            </div>
            <div class="col-sm-2 text-right">
                <input ng-show="!canBring" type="button" ng-click="canBringGame()" role="button" class="btn btn-sm btn-default btn-block" value="Can bring game">
                <input ng-show="canBring" type="button" ng-click="cannotBringGame()" role="button" class="btn btn-sm btn-default btn-block" value="Can't bring game" style="margin-top: 0px;">
            </div>
            <div class="col-sm-2 text-right">
                <input ng-show="!canTeach" type="button" ng-click="canTeachGame()" role="button" class="btn btn-sm btn-default btn-block" value="Can teach game">
                <input ng-show="canTeach" type="button" ng-click="cannotTeachGame()" role="button" class="btn btn-sm btn-default btn-block" value="Can't teach game" style="margin-top: 0px;">
            </div>
        </div>
        
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-sm-12">
                <div class="input-group">
                    <input type="text" name="newComment" placeholder="Post Comment" ng-model="comment.newComment" class="form-control">
                    <span class="input-group-btn">
                        <a role="button" ng-click="postComment()" class="btn btn-sm btn-default btn-block">&nbsp;<span class="fui-bubble"></span>&nbsp;</a>
                    </span>
                </div>
            </div>
        </div>
        
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="comment in comments">
                <small><b>{{comment.value.user.name}}</b>
                ({{comment.value.datetime | dateFilter:"Do MMM YYYY"}} {{comment.value.datetime | dateFilter:"HH:mm"}})</small> - 
                <i>{{comment.value.newComment}}</i>
        </li>
    </ul>
</div>

<!-- LIST OF PLAYERS -->

    <table ng-if="playerList" class="table table-responsive" wt-responsive-table>
        <thead>
        <tr>
            <th class="col-sm-8">
                Interested Players
            </th>
            <th class="col-sm-3">  
                Notes
            </th>
            <th class="col-sm-1">    
            </th>
        </tr>
        </thead>
        <tr ng-repeat="ply in playerList">
            <td>
                <p>{{ply.value.name}}</p>
            </td>
            <td>
                <span ng-if="ply.value.canBring" class="label label-info">Can bring game</span>
                <span ng-if="ply.value.canTeach" class="label label-info">Can teach game</span>
            </td>
            <td style="text-align: right">
                <a ng-if="user.admin" ng-click="delete(ply)" role="button" class="btn btn-danger btn-xs"><i class="fui-cross"></i></a>
            </td>
        </tr>
        
    </table>